@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  /* line-height: 1.5;
  font-weight: 400; */
}


@layer utilities {
  @media (max-aspect-ratio: 16/9) {
    .bgVideo {
      width : auto;
      height: 100%;
    }
  }

  @media (min-aspect-ratio: 16/9) {
    .bgVideo {
      width : 100%;
      height: auto;
    }
  }
}


@layer utilities {
  @keyframes animate-gradient {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }

  .gradient-text {
    @apply bg-gradient-to-r from-[#008baa] via-[#7e42a7] via-[#6600c5] via-[#6070fd] via-[#2a46ff] via-[#0099ff] to-[#008baa] bg-clip-text text-transparent;
    background-size: 200% auto;
    animation: animate-gradient 2.5s linear infinite;
  }
}